<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{% block title %}Random Variations{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>-->

</head>
<body>
	<div class="navbar navbar-inverse">
		<div class = "container-fluid">
			<!--Header-->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img src="../static/img/logo.png" class="nav navbar-nav right" style="padding:0px 5px 0px 5px;">
				<a href="{% url 'randomVariation:home' %}" class="navbar-brand">Random Variations</a>
			</div>
			<!--Items-->
			<div class="collapse navbar-collapse" id="topNavBar">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'randomVariation:home' %}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
                            Home
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span>&nbsp;
                            Random Variation form
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-left">
                    <li class="">
                        <a href="#">
                            <span class="glyphicon glyphicon-baby-formula" aria-hidden="true"></span>&nbsp;
                            Random Variation data
                        </a>
                    </li>
                </ul>
            </div>
		</div>
	</div>
	<div class="container-fluid">
		{% block content %}
		
		{% endblock %}
	</div>
</body>
</html>