{% extends 'randomVariation/base.html'%}
{% block content %}
<script type="text/javascript" src="../static/dist/bundle.js"></script>

<div class = "row">
	<h3 class="textCenter">Hello User{{user.email}}!</h3>
</div>
<br>
<div class="textCenter">
	<button onclick="displayNotes()" type="button" class="btn btn-primary" id="firstChoice">Single Note</button>
	<br></br>
</div>
<div class="row textCenter" id="notesList" style="display: none">

		<input class="btn btn-warning" type="button" style="margin-top:10px" value="C"  onclick="getNote({type:'single note', value: {note:'C3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="C#" onclick="getNote({type:'single note', value: {note:'C#3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="D"  onclick="getNote({type:'single note', value: {note:'D3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="D#" onclick="getNote({type:'single note', value: {note:'D#3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="E"  onclick="getNote({type:'single note', value: {note:'E3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="F"  onclick="getNote({type:'single note', value: {note:'F3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="F#" onclick="getNote({type:'single note', value: {note:'F#3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="G"  onclick="getNote({type:'single note', value: {note:'G3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="G#" onclick="getNote({type:'single note', value: {note:'G#3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="A"  onclick="getNote({type:'single note', value: {note:'A3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="A#" onclick="getNote({type:'single note', value: {note:'A#3'}})">
		<input class="btn btn-warning" type="button" style="margin-top:10px" value="B"  onclick="getNote({type:'single note', value: {note:'B3'}})">

</div>
<br>
<div class="textCenter">
	<button onclick="getRow('row')" type="button" class="btn btn-info" id="firstChoice">Tone Row</button>
</div>
<br>

<script type="text/javascript" src="../static/js/home.js"></script>

{% endblock %}