{% extends 'randomVariation/base.html'%}
{% block content %}
	<div class = "row">
		<h3 class="textCenter" style="text-align: center;">Hello User{{user.email}}!</h3>
	</div>
	<br>
	<div style="text-align:center">
		<a href="{% url 'randomVariation:secondLayer'%}"><button type="button" class="btn btn-primary">Single Note</button></a>
	</div>
	<br>
	<div style="text-align:center">
		<a href="{% url 'randomVariation:secondLayer'%}"><button type="button" class="btn btn-info">Tone Row</button></a>
	</div>
{% endblock %}