{% extends 'randomVariation/base.html' %}
{% block content %}
<div style="text-align:center">
	<button type="button" class="btn btn-primary" id="btn1" onclick="displayScales()">Scales</button>

</div>
<br>

<div class="row textCenter" id="scalesList" style="display: none">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Major" onclick="getScale({type:'scale', value:{name:'Major'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Dorian"  onclick="getScale({type:'scale', value:{name:'Dorian'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Phrygian" onclick="getScale({type:'scale', value:{name:'Phrygian'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Lydian"  onclick="getScale({type:'scale', value:{name:'Lydian'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Mixolydian" onclick="getScale({type:'scale', value:{name: 'Mixolydian'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Aeolian" onclick="getScale({type:'scale', value:{name:'Aeloian'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Locrian"  onclick="getScale({type:'scale', value:{name:'Locrian'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Augmented" onclick="getScale({type:'scale', value:{name:'Augmented'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Whole tone"  onclick="getScale({type:'scale', value:{name:'Whole Tone'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Harmonic minor" onclick="getScale({type:'scale', value:{name:'Harmonic minor'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Melodic minor ASC"  onclick="getScale({type:'scale', value:{name:'Melodic minor ASC'}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Melodic minor DESC" onclick="getScale({type:'scale', value:{name:'Melodic minor DESC'}})">
</div>
<br>

<div class="row textCenter" style="display:none" id="scaleDirections">
	<input type="button" class="btn btn-warning" style="margin-top:10px" value="ASC" onclick="getDirection({type:'scale', value: {direction:'ASC'}})">
	<input type="button" class="btn btn-warning" style="margin-top:10px" value="DESC" onclick="getDirection({type:'scale', value: {direction:'DESC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="ASC/DESC" onclick="getDirection({type:'scale', value:{directions:['ASC', 'DESC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="DESC/ASC" onclick="getDirection({type:'scale', value:{directions:['DESC', 'ASC']}})">
</div>
<br>

<div style="text-align:center">
	<button type="button" class="btn btn-primary" id="sequence" onClick="displaySeq()" >Sequence</button>
</div>
<br>
<div class="row textCenter" id="sequenceList" style="display: none">

	<input class="btn btn-warning" type="button" style="margin-top:10px" value="2m" onClick="getSeq({type:'sequence', value:{interval:1, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="2M" onClick="getSeq({type:'sequence', value:{interval:2, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="3m" onClick="getSeq({type:'sequence', value:{interval:3, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="3M" onClick="getSeq({type:'sequence', value:{interval:4, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="4" onClick="getSeq({type:'sequence', value:{interval:5, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="4x/5°" onClick="getSeq({type:'sequence', value:{interval:6, direction:'ASC'}})">

	<br>
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="ASC" onclick="getDirection({type:'sequence', value:{direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="DESC" onclick="getDirection({type:'sequence', value:{direction:'DESC'}})">

</div>
<br><br>

<div style="text-align:center">
	<button type="button" class="btn btn-primary" id="btn3" onclick="displayChords()">Chords</button>
</div>
<br>
<div class="row textCenter" id="chordsList" style="display: none">

	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Maj" onclick="getChord({type:'chord', value:{name: 'Maj'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Min" onclick="getChord({type:'chord', value:{name: 'Min'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Aug" onclick="getChord({type:'chord', value:{name: 'Aug'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Dim" onclick="getChord({type:'chord', value:{name: 'Dim'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Sus" onclick="getChord({type:'chord', value:{name: 'Sus'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Maj2" onclick="getChord({type:'chord', value:{name: 'Maj2'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Min2" onclick="getChord({type:'chord', value:{name: 'Min2'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Maj7" onclick="getChord({type:'chord', value:{name: 'Maj7'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="7"  onclick="getChord({type:'chord', value:{name: '7'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Min7" onclick="getChord({type:'chord', value:{name: 'Min7'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Half dim"  onclick="getChord({type:'chord', value:{name: 'Half dim'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Dim7" onclick="getChord({type:'chord', value:{name: 'Dim7'}})">
</div>
<br>

<div class="row textCenter" style="display:none" id="chordDirections">
	<input type="button" class="btn btn-warning" style="margin-top:10px" value="ASC" onclick="getDirection({type:'chord', value: {direction:'ASC'}})">
	<input type="button" class="btn btn-warning" style="margin-top:10px" value="DESC" onclick="getDirection({type:'chord', value: {direction:'DESC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="ASC/DESC" onclick="getDirection({type:'scale', value:{directions:['ASC', 'DESC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="DESC/ASC" onclick="getDirection({type:'scale', value:{directions:['DESC', 'ASC']}})">
</div>
<br>

<div class="row">
	<div style="text-align:center">
		<h4>Generate Now!</h4>
		<a href="#Scale">
			<button type="button" class="btn btn-primary" onclick="create()">Generate</button>
		</a>
	</div>
</div>
<br>
<div class="row" style="text-align:center">
	<h2>Result</h2>
	<span id="output"></span>
</div>

<!--JavaScript-->
<script type="text/javascript" src="../static/dist/bundle.js"></script>
<script type="text/javascript" src="../static/js/secondLayer.js"></script>
{% endblock %}