{% extends 'randomVariation/base.html' %}
{% block content %}
<div style="text-align:center">
	<button type="button" class="btn btn-primary" id="btn1" onclick="displayScales()">Scales</button>

</div>
<br>

<div class="row textCenter" id="scalesList" style="display: none">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Major" onclick="getScale({type:'scale', value:{name:'Major', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Dorian"  onclick="getScale({type:'scale', value:{name:'Dorian', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Phrygian" onclick="getScale({type:'scale', value:{name:'Phrygian', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Lydian"  onclick="getScale({type:'scale', value:{name:'Lydian', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Mixolydian" onclick="getScale({type:'scale', value:{name: 'Mixolydian', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Aeloian" onclick="getScale({type:'scale', value:{name:'Aeloian', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Locrian"  onclick="getScale({type:'scale', value:{name:'Locian', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Augmented" onclick="getScale({type:'scale', value:{name:'Augmented', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Whole tone"  onclick="getScale({type:'scale', value:{name:'Whole Tone', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Harmonic minor" onclick="getScale({type:'scale', value:{name:'Harmonic minor', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Melodic minor ASC"  onclick="getScale({type:'scale', value:{name:'Melodic minor ASC', directions:['ASC','DESC']}})">
	<input class="btn btn-warning" type="button"  style="margin-top:10px" value="Melodic minor DESC" onclick="getScale({type:'scale', value:{name:'Melodic minor DESC', directions:['ASC','DESC']}})">
</div>

<br>
<div style="text-align:center">
	<button type="button" class="btn btn-primary" id="sequence" onClick="displaySeq()" >Sequence</button>
</div>
<br>
<div class="row textCenter" id="sequenceList" style="display: none">

	<input class="btn btn-warning" type="button" style="margin-top:10px" value="2m" onClick="getSeq({type:'sequence', value:{interval:1, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="2M" onClick="getSeq({type:'sequence', value:{interval:2, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="3m" onClick="getSeq({type:'sequence', value:{interval:3, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="3M" onClick="getSeq({type:'sequence', value:{interval:4, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="4" onClick="getSeq({type:'sequence', value:{interval:5, direction:'ASC'}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="4x/5°" onClick="getSeq({type:'sequence', value:{interval:6, direction:'ASC'}})">

	<br>
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="ASC">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="DESC">

</div>
<br>
<div style="text-align:center">
	<button type="button" class="btn btn-primary" id="btn3" onclick="displayChords()">Chords</button>
</div>
<br>
<div class="row textCenter" id="chordsList" style="display: none">

	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Maj" onclick="getChord({type:'chord', value:{name: 'Maj', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Min" onclick="getChord({type:'chord', value:{name: 'Min', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Aug" onclick="getChord({type:'chord', value:{name: 'Aug', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Dim" onclick="getChord({type:'chord', value:{name: 'Dim', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Sus" onclick="getChord({type:'chord', value:{name: 'Sus', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Maj2" onclick="getChord({type:'chord', value:{name: 'Maj2', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Min2" onclick="getChord({type:'chord', value:{name: 'Min2', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Maj7" onclick="getChord({type:'chord', value:{name: 'Maj7', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="7"  onclick="getChord({type:'chord', value:{name: '7', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Min7" onclick="getChord({type:'chord', value:{name: 'Min7', directions:['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Half dim"  onclick="getChord({type:'chord', value:{name: 'Half dim', directions['ASC']}})">
	<input class="btn btn-warning" type="button" style="margin-top:10px" value="Dim7" onclick="getChord({type:'chord', value:{name: 'Dim7', directions['ASC']}})">

</div>
<br>

<!--JavaScript-->
<script type="text/javascript" src="../static/js/secondLayer.js"></script>
{% endblock %}