{% extends "randomVariation/base.html" %}

{% block content %}
<div class="row">
	<div style="text-align:center">
		<h4>Add a scale?</h4><button type="button" class="btn btn-primary" onclick="displayScales()">Scale</button>
	</div>
</div>
<br>
<div class="row textCenter" id="scalesList" style="display: none">

		<input class="btn btn-warning" type="button" name="scales" value="Major" onclick="getScale('Major')">
		<input class="btn btn-warning" type="button" name="scales" value="Dorian"  onclick="getScale('Dorian')">
		<input class="btn btn-warning" type="button" name="scales" value="Phrygian" onclick="getScale('Phrygian')">
		<input class="btn btn-warning" type="button" name="scales" value="Lydian"  onclick="getScale('Lydian')">
		<input class="btn btn-warning" type="button" name="scales" value="Mixolydian" onclick="getScale('Mixolydian')">
		<input class="btn btn-warning" type="button" name="scales" value="Aeloian" onclick="getScale('Aeloian')">
		<input class="btn btn-warning" type="button" name="scales" value="Locrian"  onclick="getScale('Locrian')">
		<input class="btn btn-warning" type="button" name="scales" value="Augmented" onclick="getScale('Augmented')">
		<input class="btn btn-warning" type="button" name="scales" value="Whole tone"  onclick="getScale('Whole tone')">
		<input class="btn btn-warning" type="button" name="scales" value="Harmonic minor" onclick="getScale('Harmonic minor')">
		<input class="btn btn-warning" type="button" name="scales" value="Melodic minor ASC"  onclick="getScale('Melodic minor ASC')">
		<input class="btn btn-warning" type="button" name="scales" value="Melodic minor DESC" onclick="getScale('Melodic minor DESC')">

</div>
<br>
<div class="row">
	<div style="text-align:center">
		<h4>Add a chord</h4><button type="button" class="btn btn-primary" id="btn2" onclick="displayChords()">Chord</button>
	</div>
</div>
<br>
<div class="row textCenter" id="chordsList" style="display: none">

	<input class="btn btn-warning" type="button" name="scales" value="Maj" onclick="getChord('Maj')">
	<input class="btn btn-warning" type="button" name="scales" value="Min"  onclick="getChord('Min')">
	<input class="btn btn-warning" type="button" name="scales" value="Aug" onclick="getChord('Aug')">
	<input class="btn btn-warning" type="button" name="scales" value="Dim"  onclick="getChord('Dim')">
	<input class="btn btn-warning" type="button" name="scales" value="Sus" onclick="getChord('Sus')">
	<input class="btn btn-warning" type="button" name="scales" value="Maj2" onclick="getChord('Maj2')">
	<input class="btn btn-warning" type="button" name="scales" value="Min2"  onclick="getChord('Min2')">
	<input class="btn btn-warning" type="button" name="scales" value="Maj7" onclick="getChord('Maj7')">
	<input class="btn btn-warning" type="button" name="scales" value="7"  onclick="getChord('7')">
	<input class="btn btn-warning" type="button" name="scales" value="Min7" onclick="getChord('Min7')">
	<input class="btn btn-warning" type="button" name="scales" value="Half dim"  onclick="getChord('Half dim')">
	<input class="btn btn-warning" type="button" name="scales" value="Dim7" onclick="getChord('Dim7')">

</div>
<br>
<div class="row">
	<div style="text-align:center">
		<h4>Generate Now!</h4><a href="#Scale"><button type="button" class="btn btn-primary">Generate</button></a>
	</div>
</div>
<br>
<div class="row" style="text-align:center">
	<h2>Result</h2><input type="textarea" name="Result">
</div>

<script type="text/javascript" src="../static/js/thridLayer.js"></script>

{% endblock %}