{% extends 'RFI/base.html' %}
{% block content %}
{% load static %}
<!--<div class="container">
 <div class="row">
  <br><br>
  <div class="col m6 card-panel white offset-m3" style="text-align:center">
    <h1>TechMD INC Portal</h1>
    <h4>Sign in to access all the facilities</h4>
    <br>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next=/">
     <img id="signInButton" src="http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png" onclick="document.getElementById('signInButton').src='http://www.setyourowntests.com/_/rsrc/1468869481521/help/accounts/btn_google_signin_dark_normal_web%402x.png'">
    </a>
    <br>
  </div>
 </div>
</div>-->

<div class="container" style="text-align:center">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body textCenter">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'RFI/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}